<div class="flex flex-column">
    <div class="mb-3 col-12">
        <p-card>
            <h2>Insumos</h2>
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    <button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedInsumos || !selectedInsumos.length"></button>
                </ng-template>
                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template> -->
            </p-toolbar>
            <p-table
                #dt1
                [loading]="loading"
                dataKey="id"
                [value]="insumos"
                sortMode="multiple"
                [paginator]="true"
                [rows]="10"
                [rowHover]="true"
                [(selection)]="selectedInsumos"
                editMode="row"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                [globalFilterFields]="['articulo', 'cantidad', 'precio_total']"
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
            >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <button pButton label="Borrar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchText" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar" />
                    </span>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="articulo" style="width:35%">Articulo <p-sortIcon field="articulo"></p-sortIcon></th>
                        <th pSortableColumn="precio_unitario" style="width:20%">Precio unitario <p-sortIcon field="precio_unitario"></p-sortIcon></th>
                        <th pSortableColumn="cantidad" style="width:15%">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
                        <th pSortableColumn="precio_total" style="width:15%">Total precio <p-sortIcon field="precio_total"></p-sortIcon></th>
                        <th pSortableColumn="estado" style="width:15%">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-insumo let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="insumo">
                        <td>
                            <p-tableCheckbox [value]="insumo"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="insumo.articulo">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{insumo.articulo}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>${{ insumo.precio_unitario | number:'.0-0' }}</td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="insumo.cantidad">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{insumo.cantidad}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="insumo.precio_total">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    ${{insumo.precio_total}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td *ngIf="insumo.estado === 'disponible'"><p-tag value="Disponible" severity="success"></p-tag></td>
                        <td *ngIf="insumo.estado === 'agotado'"><p-tag value="Agotado" severity="danger"></p-tag></td>
                        <td>
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(insumo)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(insumo)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(insumo, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Total: ${{ total | number:'.0-0' }}
                    </div>
                </ng-template> -->
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Total: ${{ total | number:'.0-0' }}
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="7">Insumo no encontrado.</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Creación insumos" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="insumo.articulo" required autofocus />
                <small class="p-error" *ngIf="submitted && !insumo.articulo">Insumo requerido.</small>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Precio total</label>
                    <p-inputNumber id="price" [(ngModel)]="insumo.precio_total" mode="currency" currency="USD" locale="en-US" [minFractionDigits]="0"></p-inputNumber>
                    <small class="p-error" *ngIf="submitted && !insumo.precio_total">Precio total requerido.</small>
                </div>
                <div class="field col">
                    <label for="quantity">Cantidad</label>
                    <p-inputNumber id="quantity" [(ngModel)]="insumo.cantidad"></p-inputNumber>
                    <small class="p-error" *ngIf="submitted && !insumo.cantidad">Cantidad requerido.</small>
                </div>
            </div>
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Crear" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>