::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon{
    z-index: 1;
}
::ng-deep .p-card{
    width: auto !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
::ng-deep .p-sidebar .p-sidebar-header + .p-sidebar-content{
    width: 100%;
    padding: 0;
    overflow: inherit;
    position: absolute;
    z-index: 0;
}
::ng-deep .p-menubar{
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #A87DE6;
}